# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\AreaDev\Java_web\jmp33\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
